dify/dify-app-template/workflow/ChatPaper.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ChatPaper
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables:
  - description: ''
    id: d59741b2-4ab1-40b3-93fc-e5ea8c13c678
    name: paper_insight
    value: []
    value_type: array[string]
  - description: ''
    id: c21c4112-7457-4858-9c0c-281e56e9fd4a
    name: chat2_assistance
    value: ''
    value_type: string
  - description: ''
    id: b819e1ec-b786-44b3-a7ac-e632bd178e7c
    name: chat2_user
    value: ''
    value_type: string
  - description: ''
    id: 40bd6751-f164-48f9-a741-20ece9494ba9
    name: chat_stage
    value: ''
    value_type: string
  - description: ''
    id: 2a1ee4e6-963d-4a47-839f-c6991cc641b1
    name: paper
    value: []
    value_type: array[string]
  - description: ''
    id: ce5c30ea-193b-460d-8650-53d4a4916bd4
    name: language
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: bb1c3576-bb1e-4c29-b627-b07d79c59755
    name: chatX
    value: chatX
    value_type: string
  - description: ''
    id: 4a00036f-922e-43a1-bd35-2228490f7215
    name: chat2
    value: ready
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 请上传论文，并选择或输入您的语言以开始：
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - English
    - 中文
    - 日本語
    - ' Français'
    - Deutsch
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1729476461944-source-1729476517307-target
      selected: false
      source: '1729476461944'
      sourceHandle: source
      target: '1729476517307'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1729476517307-true-1729476713795-target
      selected: false
      source: '1729476517307'
      sourceHandle: 'true'
      target: '1729476713795'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: document-extractor
      id: 1729476713795-source-1729476799012-target
      selected: false
      source: '1729476713795'
      sourceHandle: source
      target: '1729476799012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: variable-aggregator
      id: 1729476799012-source-1729476853830-target
      selected: false
      source: '1729476799012'
      sourceHandle: source
      target: '1729476853830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1729477065415-source-1729477141668-target
      selected: false
      source: '1729477065415'
      sourceHandle: source
      target: '1729477141668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1729477141668-source-1729477130336-target
      selected: false
      source: '1729477141668'
      sourceHandle: source
      target: '1729477130336'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1729477130336-source-1729477395105-target
      selected: false
      source: '1729477130336'
      sourceHandle: source
      target: '1729477395105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729477495470-source-1729477552297-target
      selected: false
      source: '1729477495470'
      sourceHandle: source
      target: '1729477552297'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: template-transform
      id: 1729477552297-source-1729477141668-target
      selected: false
      source: '1729477552297'
      sourceHandle: source
      target: '1729477141668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1729477141668-source-1729477594959-target
      selected: false
      source: '1729477141668'
      sourceHandle: source
      target: '1729477594959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729477594959-source-1729477697238-target
      selected: false
      source: '1729477594959'
      sourceHandle: source
      target: '1729477697238'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: llm
      id: 1729477697238-source-1729477395105-target
      selected: false
      source: '1729477697238'
      sourceHandle: source
      target: '1729477395105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729477395105-source-1729477802113-target
      selected: false
      source: '1729477395105'
      sourceHandle: source
      target: '1729477802113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: template-transform
      id: 1729477802113-source-1729477818154-target
      selected: false
      source: '1729477802113'
      sourceHandle: source
      target: '1729477818154'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: assigner
      id: 1729477818154-source-1729477899844-target
      selected: false
      source: '1729477818154'
      sourceHandle: source
      target: '1729477899844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: assigner
      id: 1729477899844-source-1729478152034-target
      selected: false
      source: '1729477899844'
      sourceHandle: source
      target: '1729478152034'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: list-operator
      id: 1729476517307-97757c07-3c0f-4058-87eb-191fbaf80592-1729478231227-target
      selected: false
      source: '1729476517307'
      sourceHandle: 97757c07-3c0f-4058-87eb-191fbaf80592
      target: '1729478231227'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729478316804-source-1729478492776-target
      selected: false
      source: '1729478316804'
      sourceHandle: source
      target: '1729478492776'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: assigner
      id: 1729478492776-source-1729478503210-target
      selected: false
      source: '1729478492776'
      sourceHandle: source
      target: '1729478503210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: assigner
      id: 1729478503210-source-1729478534456-target
      selected: false
      source: '1729478503210'
      sourceHandle: source
      target: '1729478534456'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: assigner
      id: 1729478534456-source-1729478551977-target
      selected: false
      source: '1729478534456'
      sourceHandle: source
      target: '1729478551977'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1729476517307-f9e7059f-5f9d-4eef-b394-284e718d793f-1729478586386-target
      selected: false
      source: '1729476517307'
      sourceHandle: f9e7059f-5f9d-4eef-b394-284e718d793f
      target: '1729478586386'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: list-operator
        targetType: template-transform
      id: 1729478231227-source-1729478682201-target
      selected: false
      source: '1729478231227'
      sourceHandle: source
      target: '1729478682201'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1729478682201-source-1729478316804-target
      selected: false
      source: '1729478682201'
      sourceHandle: source
      target: '1729478316804'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729478586386-source-1729478842194-target
      selected: false
      source: '1729478586386'
      sourceHandle: source
      target: '1729478842194'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729476853830-source-1729480319469-target
      selected: false
      source: '1729476853830'
      sourceHandle: source
      target: '1729480319469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1729480319469-source-1729476930871-target
      selected: false
      source: '1729480319469'
      sourceHandle: source
      target: '1729476930871'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729476853830-source-1729477002992-target
      selected: false
      source: '1729476853830'
      sourceHandle: source
      target: '1729477002992'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template-transform
      id: 1729477002992-source-1729480535118-target
      selected: false
      source: '1729477002992'
      sourceHandle: source
      target: '1729480535118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1729480535118-source-1729477495470-target
      selected: false
      source: '1729480535118'
      sourceHandle: source
      target: '1729477495470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: llm
      id: 1729480535118-source-1729477065415-target
      selected: false
      source: '1729480535118'
      sourceHandle: source
      target: '1729477065415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: template-transform
      id: 1729476930871-source-1729480535118-target
      selected: false
      source: '1729476930871'
      sourceHandle: source
      target: '1729480535118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: assigner
      id: 1729478152034-source-1729480740015-target
      selected: false
      source: '1729478152034'
      sourceHandle: source
      target: '1729480740015'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: Upload a paper
          max_length: 48
          options: []
          required: true
          type: file
          variable: paper1
      height: 90
      id: '1729476461944'
      position:
        x: 30
        y: 325
      positionAbsolute:
        x: 30
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: fc959215-795b-48cb-be0d-dc4492976442
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        - case_id: 97757c07-3c0f-4058-87eb-191fbaf80592
          conditions:
          - comparison_operator: is
            id: 72a87c1d-4256-4281-994a-1a87614c070d
            value: '{{#env.chat2#}}'
            varType: string
            variable_selector:
            - conversation
            - chat_stage
          id: 97757c07-3c0f-4058-87eb-191fbaf80592
          logical_operator: and
        - case_id: f9e7059f-5f9d-4eef-b394-284e718d793f
          conditions:
          - comparison_operator: is
            id: f0cfc994-23ac-4cce-bb82-29d1d7c0156d
            value: '{{#env.chatX#}}'
            varType: string
            variable_selector:
            - conversation
            - chat_stage
          id: f9e7059f-5f9d-4eef-b394-284e718d793f
          logical_operator: and
        desc: IF/ELSE
        selected: false
        title: 对话阶段
        type: if-else
      height: 250
      id: '1729476517307'
      position:
        x: 334
        y: 325
      positionAbsolute:
        x: 334
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - language
        desc: ''
        input_variable_selector:
        - sys
        - query
        selected: false
        title: 语言设置
        type: assigner
        write_mode: over-write
      height: 132
      id: '1729476713795'
      position:
        x: 638
        y: 325
      positionAbsolute:
        x: 638
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: 论文提取
        type: document-extractor
        variable_selector:
        - '1729476461944'
        - paper1
      height: 94
      id: '1729476799012'
      position:
        x: 638
        y: 498.5400452044165
      positionAbsolute:
        x: 638
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 当前论文
        type: variable-aggregator
        variables:
        - - '1729476799012'
          - text
      height: 113
      id: '1729476853830'
      position:
        x: 942
        y: 325
      positionAbsolute:
        x: 942
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729480319469.text#}}


          ---


          **以上是从文档提取器中快速总结的内容。**


          如有任何问题，请随时按停止按钮。


          AI正在阅读论文。


          ---

          '
        desc: ''
        selected: false
        title: 直接回复 预览
        type: answer
        variables: []
      height: 151
      id: '1729476930871'
      position:
        x: 1246
        y: 498.5400452044165
      positionAbsolute:
        x: 1246
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 论文精要概览
        model:
          completion_params:
            frequency_penalty: 0.5
            max_tokens: 4096
            presence_penalty: 0.5
            temperature: 0.2
            top_p: 0.75
          mode: chat
          name: claude-3-5-sonnet-20240620
          provider: anthropic
        prompt_template:
        - id: f4116016-5d65-44a4-a150-843df9867dbb
          role: system
          text: You are an efficient research assistant specializing in summarizing
            academic papers. Your task is to extract and present key information from
            given papers in a structured, easily digestible format for busy researchers.
        - id: e562aba8-5792-4f5c-91ad-aae4d983ed92
          role: user
          text: "Analyze the following paper content and summarize it according to\
            \ these instructions:\n\n<paper_content>\n{{#1729476853830.output#}}\n\
            </paper_content>\n\nExtract and present the following key information\
            \ in XML format:\n\n<paper_summary>\n  <title>\n    <original>[Original\
            \ title]</original>\n    <translation>[English translation if applicable]</translation>\n\
            \  </title>\n  \n  <authors>[List of authors]</authors>\n  \n  <first_author_affiliation>[First\
            \ author's affiliation]</first_author_affiliation>\n  \n  <keywords>[List\
            \ of keywords]</keywords>\n  \n  <urls>\n    <paper>[Paper URL]</paper>\n\
            \    <github>[GitHub URL or \"Not available\" if not provided]</github>\n\
            \  </urls>\n  \n  <summary>\n    <background>[Research background and\
            \ significance]</background>\n    <objective>[Main research question or\
            \ objective]</objective>\n    <methodology>[Proposed research methodology]</methodology>\n\
            \    <findings>[Key findings and their implications]</findings>\n    <impact>[Potential\
            \ impact of the research]</impact>\n  </summary>\n  \n  <key_figures>\n\
            \    <figure1>[Brief description of a key figure or table, if applicable]</figure1>\n\
            \    <figure2>[Brief description of another key figure or table, if applicable]</figure2>\n\
            \  </key_figures>\n</paper_summary>\n\nGuidelines:\n1. Use concise, academic\
            \ language throughout the summary.\n2. Include all relevant information\
            \ within the appropriate XML tags.\n3. Avoid repeating information across\
            \ different sections.\n4. Maintain original numerical values and units.\n\
            5. Briefly explain technical terms in parentheses upon first use.\n\n\
            Output Language:\nGenerate the summary in the following language:\n<output_language>\n\
            {{#conversation.language#}}\n</output_language>\n\nTranslation Instructions:\n\
            - If the output language is not English, translate all parts except:\n\
            \  a) The original paper title\n  b) Author names\n  c) Technical terms\
            \ (provide translations in parentheses)\n  d) URLs\n- Maintain the academic\
            \ tone and technical accuracy in the translation.\n\nCharacter Limit:\n\
            Keep the entire summary within 800 words or 5000 characters, whichever\
            \ comes first."
        selected: false
        title: 学术快照
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1729477002992'
      position:
        x: 1246
        y: 325
      positionAbsolute:
        x: 1246
        y: 325
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 研究路径剖析 方法论解析
        model:
          completion_params:
            frequency_penalty: 0.3
            presence_penalty: 0.2
            temperature: 0.5
            top_p: 0.85
          mode: chat
          name: claude-3-5-sonnet-20240620
          provider: anthropic
        prompt_template:
        - id: 3653cbf4-fb45-4598-8042-fd33d917f628
          role: system
          text: You are an expert research methodologist specializing in analyzing
            and summarizing research methods in academic papers. Your task is to provide
            a clear, concise, yet comprehensive analysis of the methodology used in
            a given paper, highlighting its innovative aspects, strengths, and potential
            limitations. Your analysis will help other researchers understand, evaluate,
            potentially replicate, or improve upon these methods.
        - id: 539e6e93-1d3e-447b-8620-57411bda85df
          role: user
          text: "Analyze the methodology of the following paper and provide a structured\
            \ summary according to these instructions:\n\nYou will be working with\
            \ two main inputs:\n\n<paper_content>\n{{#conversation.paper#}}\n</paper_content>\n\
            \nThis contains the full text of the academic paper. Use this as your\
            \ primary source for detailed methodological information.\n\n<paper_summary>\n\
            {{#1729477002992.text#}}\n</paper_summary>\n\nThis is a structured summary\
            \ of the paper, which provides context for your analysis. Refer to this\
            \ for an overview of the paper's key points, but focus your analysis on\
            \ the full paper content.\n\nMethodology Analysis Guidelines:\n\n1. Carefully\
            \ read the methodology section of the full paper content.\n\n2. Identify\
            \ and analyze the key components of the methodology, which may include:\n\
            \   - Research design (e.g., experimental, observational, mixed methods)\n\
            \   - Data collection methods\n   - Sampling techniques\n   - Analytical\
            \ approaches\n   - Tools or instruments used\n   - Statistical methods\
            \ (if applicable)\n\n3. For each key component, assess:\n   - Innovativeness:\
            \ Is this method novel or a unique application of existing methods?\n\
            \   - Strengths: What are the advantages of this methodological approach?\n\
            \   - Limitations: What are potential weaknesses or constraints of this\
            \ method?\n\n4. Consider how well the methodology aligns with the research\
            \ objectives stated in the paper summary.\n\n5. Evaluate the clarity and\
            \ replicability of the described methods.\n\nPresent your analysis in\
            \ the following XML format:\n\n<methodology_analysis>\n  <overview>\n\
            \    [Provide a brief overview of the overall methodological approach,\
            \ in 2-3 sentences]\n  </overview>\n  \n  <key_components>\n    <component1>\n\
            \      <name>[Name of the methodological component]</name>\n      <description>[Describe\
            \ the methodological component]</description>\n      <innovation>[Discuss\
            \ any innovative aspects]</innovation>\n      <strengths>[List main strengths]</strengths>\n\
            \      <limitations>[Mention potential limitations]</limitations>\n  \
            \  </component1>\n    <component2>\n      [Repeat the structure for each\
            \ key component identified]\n    </component2>\n    [Add more component\
            \ tags as needed]\n  </key_components>\n  \n  <alignment_with_objectives>\n\
            \    [Discuss how well the methodology aligns with the stated research\
            \ objectives]\n  </alignment_with_objectives>\n  \n  <replicability>\n\
            \    [Comment on the clarity and potential for other researchers to replicate\
            \ the methods]\n  </replicability>\n  \n  <overall_assessment>\n    [Provide\
            \ a concise overall assessment of the methodology's strengths and limitations]\n\
            \  </overall_assessment>\n</methodology_analysis>\n\nOutput Language:\n\
            Generate the analysis in the following language:\n<output_language>\n\
            {{#conversation.language#}}\n</output_language>\n\nTranslation Instructions:\n\
            - If the output language is not English, translate all parts except:\n\
            \  a) Technical terms (provide translations in parentheses upon first\
            \ use)\n  b) Proper nouns (e.g., names of specific tools or methods)\n\
            - Maintain the academic tone and technical accuracy in the translation.\n\
            \nGuidelines and Reminders:\n1. Use clear, concise academic language throughout\
            \ your analysis.\n2. Be objective in your assessment, backing up your\
            \ points with evidence from the paper.\n3. Avoid repetition across different\
            \ sections of your analysis.\n4. If you encounter any ambiguities or lack\
            \ of detail in the methodology description, note this in your analysis.\n\
            5. Provide brief explanations or examples where necessary to enhance understanding.\n\
            6. If certain methodological details are unclear or missing, note this\
            \ in your summary.\n7. Maintain original terminology, explaining technical\
            \ terms briefly if needed.\n\nCharacter Limit:\nAim to keep your entire\
            \ analysis within 600 words or 4000 characters, whichever comes first.\n\
            \nYour analysis should provide valuable insights for researchers looking\
            \ to understand, evaluate, or build upon the methodological approach described\
            \ in the paper."
        selected: false
        title: 方法透视
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1729477065415'
      position:
        x: 1854
        y: 332.578582832552
      positionAbsolute:
        x: 1854
        y: 332.578582832552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Multifaceted Paper Evaluation
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-haiku-20240307
          provider: anthropic
        prompt_template:
        - id: d0e277b8-b858-49ad-8ff3-6d20b21813d6
          role: system
          text: You are an experienced academic researcher tasked with providing a
            comprehensive critical analysis of published research papers. Your role
            is to help readers understand and interpret the paper's contributions,
            methodologies, and potential impact in its field.
        - id: a1d70bb0-e331-454f-9e02-ace5d6cc45ef
          role: user
          text: "Use the following inputs and instructions to conduct your analysis:\n\
            \n<paper_summary>\n{{#1729477002992.text#}}\n</paper_summary>\n\n<methodology_analysis>\n\
            {{#1729477065415.text#}}\n</methodology_analysis>\n\nCarefully review\
            \ both the paper summary and methodology analysis. Then, evaluate the\
            \ paper based on the following criteria:\n\n1. Research Context and Objectives:\n\
            \   - Assess how well the paper situates itself within the existing literature\n\
            \   - Evaluate the clarity and significance of the research objectives\n\
            \n2. Methodological Approach:\n   - Analyze the appropriateness and execution\
            \ of the methodology\n   - Consider the strengths and limitations identified\
            \ in the methodology analysis\n\n3. Key Findings and Interpretation:\n\
            \   - Examine the main results and their interpretation\n   - Evaluate\
            \ how well the findings address the research objectives\n\n4. Innovations\
            \ and Contributions:\n   - Identify any novel approaches or unique contributions\
            \ to the field\n   - Assess the potential influence on the field and related\
            \ areas\n\n5. Limitations and Future Directions:\n   - Analyze how the\
            \ authors address the study's limitations\n   - Consider potential areas\
            \ for future research\n\n6. Practical Implications:\n   - Evaluate any\
            \ practical applications or policy implications of the research\n\nSynthesize\
            \ your analysis into a comprehensive review using the following XML format:\n\
            \n<paper_analysis>\n  <overview>\n    [Provide a brief overview of the\
            \ paper in 2-3 sentences, highlighting its main focus and contribution]\n\
            \  </overview>\n  \n  <key_strengths>\n    <strength1>[Describe a key\
            \ strength of the paper]</strength1>\n    <strength2>[Describe another\
            \ key strength]</strength2>\n    [Add more strength tags if necessary]\n\
            \  </key_strengths>\n  \n  <potential_limitations>\n    <limitation1>[Describe\
            \ a potential limitation or area for improvement]</limitation1>\n    <limitation2>[Describe\
            \ another potential limitation]</limitation2>\n    [Add more limitation\
            \ tags if necessary]\n  </potential_limitations>\n  \n  <detailed_analysis>\n\
            \    <research_context>\n      [Discuss how the paper fits within the\
            \ broader research context and the clarity of its objectives]\n    </research_context>\n\
            \    \n    <methodology_evaluation>\n      [Evaluate the methodology,\
            \ referring to the provided analysis and considering its appropriateness\
            \ for the research questions]\n    </methodology_evaluation>\n    \n \
            \   <findings_interpretation>\n      [Analyze the key findings and their\
            \ interpretation, considering their relevance to the research objectives]\n\
            \    </findings_interpretation>\n    \n    <innovation_and_impact>\n \
            \     [Discuss the paper's innovative aspects and potential impact on\
            \ the field]\n    </innovation_and_impact>\n    \n    <practical_implications>\n\
            \      [Evaluate any practical applications or policy implications of\
            \ the research]\n    </practical_implications>\n  </detailed_analysis>\n\
            \  \n  <future_directions>\n    [Suggest potential areas for future research\
            \ or how the work could be extended]\n  </future_directions>\n  \n  <reader_recommendations>\n\
            \    [Provide recommendations for readers on how to interpret or apply\
            \ the paper's findings, or for which audiences the paper might be most\
            \ relevant]\n  </reader_recommendations>\n</paper_analysis>\n\nOutput\
            \ Language:\nGenerate the analysis in the following language:\n<output_language>\n\
            {{#conversation.language#}}\n</output_language>\n\nTranslation Instructions:\n\
            - If the output language is not English, translate all parts except:\n\
            \  a) Technical terms (provide translations in parentheses upon first\
            \ use)\n  b) Proper nouns (e.g., names of specific theories, methods,\
            \ or authors)\n- Maintain the academic tone and technical accuracy in\
            \ the translation.\n\nGuidelines and Reminders:\n1. Maintain an objective\
            \ and analytical tone throughout your review.\n2. Support your evaluations\
            \ with specific examples or evidence from the paper summary and methodology\
            \ analysis.\n3. Consider both the strengths and potential limitations\
            \ of the research.\n4. Discuss the paper's contribution to the field as\
            \ a whole, not just its individual components.\n5. Provide specific suggestions\
            \ for how readers might interpret or apply the findings.\n6. Use clear,\
            \ concise academic language throughout your analysis.\n7. Remember that\
            \ the paper is already published, so focus on helping readers understand\
            \ its value and limitations rather than suggesting revisions.\n\nCharacter\
            \ Limit:\nAim to keep your entire analysis within 800 words or 5000 characters,\
            \ whichever comes first.\n\nYour analysis should provide a comprehensive,\
            \ balanced, and insightful evaluation that helps readers understand the\
            \ paper's quality, contributions, and potential impact in the field."
        selected: false
        title: 学术棱镜：多维论文评估
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1729477130336'
      position:
        x: 2462
        y: 332.578582832552
      positionAbsolute:
        x: 2462
        y: 332.578582832552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: await
        selected: false
        template: Made by Dify
        title: 模板转换
        type: template-transform
        variables: []
      height: 82
      id: '1729477141668'
      position:
        x: 2158.1505228891883
        y: 403.34011509017535
      positionAbsolute:
        x: 2158.1505228891883
        y: 403.34011509017535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '(await)

          转换为人类阅读友好的格式(Markdown),

          并抛出几个简单衔接问题.'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-haiku-20240307
          provider: anthropic
        prompt_template:
        - id: 35067c57-a7f3-4183-bea3-866d4dcd4e03
          role: system
          text: You are a content specialist tasked with transforming structured XML
            content into a reader-friendly Markdown format and generating engaging
            follow-up questions. Your goal is to improve readability and encourage
            further exploration of the paper's topics without altering the original
            content or analysis.
        - id: a77e3885-8718-4b9a-b8f4-d2d42375875b
          role: user
          text: "1. XML to Markdown Conversion:\n   Convert the following XML-formatted\
            \ paper analysis into a well-structured Markdown format:\n\n   <xml_content>\n\
            \  {{#1729477130336.text#}}\n   </xml_content>\n\n   Conversion Guidelines:\n\
            \   a) Maintain the original language of the content. The primary language\
            \ should be:\n      <output_language>\n      {{#conversation.language#}}\n\
            \      </output_language>\n   b) Do not change any content; your task\
            \ is purely formatting and structuring.\n   c) Use Markdown elements to\
            \ improve readability:\n      - Use appropriate heading levels (##, ###,\
            \ ####)\n      - Utilize bullet points or numbered lists where suitable\n\
            \      - Employ bold or italic text for emphasis (but don't overuse)\n\
            \      - Use blockquotes for significant statements or findings\n   d)\
            \ Ensure the hierarchy and structure of the original XML is reflected\
            \ in the Markdown.\n   e) The format should be clean, consistent, and\
            \ easy to read.\n\n2. Follow-up Questions Generation:\n   After converting\
            \ the content to Markdown, generate 3-5 open-ended follow-up questions\
            \ that encourage readers to think critically about the paper and its implications.\
            \ These questions should:\n   - Address different aspects of the paper\
            \ (e.g., methodology, findings, implications)\n   - Encourage readers\
            \ to connect the paper's content with broader issues in the field\n  \
            \ - Prompt readers to consider practical applications or future research\
            \ directions\n   - Be thought-provoking and suitable for initiating discussions\n\
            \n3. Final Output Structure:\n   Present your output in the following\
            \ format:\n\n   ```markdown\n   # Paper Analysis\n\n   [Insert your converted\
            \ Markdown content here]\n\n   ---\n\n   ## Further Exploration\n\n  \
            \ Consider the following questions to deepen your understanding of the\
            \ paper and its implications:\n\n   1. [First follow-up question]\n  \
            \ 2. [Second follow-up question]\n   3. [Third follow-up question]\n \
            \  [Add more questions if generated]\n\n   We encourage you to reflect\
            \ on these questions and discuss them with colleagues to gain new insights\
            \ into the research and its potential impact in the field.\n   ```\n\n\
            Remember, your goal is to create a (Markdown) document that is significantly\
            \ more readable than the XML format while preserving all original information\
            \ and structure, and to provide thought-provoking questions that encourage\
            \ further engagement with the paper's content."
        selected: false
        title: 输出 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 174
      id: '1729477395105'
      position:
        x: 2758.7322882263315
        y: 332.578582832552
      positionAbsolute:
        x: 2758.7322882263315
        y: 332.578582832552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 转换为人类阅读友好的格式(Markdown)
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-haiku-20240307
          provider: anthropic
        prompt_template:
        - id: 10be0dc2-2132-4c88-80ad-90a5ddc0ceef
          role: system
          text: You are a content formatter specializing in transforming structured
            XML content into reader-friendly Markdown format. Your task is to improve
            readability without altering the original content or language.
        - id: 48a44dc0-ac3c-4614-8574-8379d9bc4c14
          role: user
          text: "Convert the following XML-formatted methodology analysis into a well-structured\
            \ Markdown format:\n\n<xml_content>\n{{#1729477002992.text#}}\n</xml_content>\n\
            \nGuidelines:\n1. Maintain the original language you get even they are\
            \ mixed, mainly should be {{#conversation.language#}}.\n2. Do not change\
            \ any content; your task is purely formatting.\n3. Use Markdown elements\
            \ to improve readability:\n   - Use appropriate heading levels (##, ###,\
            \ ####)\n   - Utilize bullet points or numbered lists where suitable\n\
            \   - Employ bold or italic text for emphasis (but don't overuse)\n  \
            \ - Use blockquotes for significant statements or findings\n4. Ensure\
            \ the hierarchy and structure of the original XML is reflected in the\
            \ Markdown.\n5. Format should be clean, consistent, and easy to read.\n\
            \nExample structure (adapt based on the actual content):\n\n```markdown\n\
            ## Methodology Analysis\n\n### Overview\n[Content here]\n\n### Key Components\n\
            \n#### [Component 1 Name]\n- **Description**: [Content]\n- **Innovation**:\
            \ [Content]\n- **Strengths**: [Content]\n- **Limitations**: [Content]\n\
            \n[Repeat for other components]\n\n### Alignment with Objectives\n[Content\
            \ here]\n\n### Replicability\n[Content here]\n\n### Overall Assessment\n\
            [Content here]\n```\n\nYour goal is to create a Markdown document that\
            \ is significantly more readable than the XML format while preserving\
            \ all original information and structure."
        selected: false
        title: 输出 1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1729477495470'
      position:
        x: 1550
        y: 505.035973346604
      positionAbsolute:
        x: 1550
        y: 505.035973346604
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729477495470.text#}}


          ---


          '
        desc: 输出 1
        selected: false
        title: 直接回复 精要概览
        type: answer
        variables: []
      height: 131
      id: '1729477552297'
      position:
        x: 1854
        y: 498.5400452044165
      positionAbsolute:
        x: 1854
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 转换为人类阅读友好的格式(Markdown)
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-haiku-20240307
          provider: anthropic
        prompt_template:
        - id: 75224826-2982-4cc3-b413-5e163d8cedcf
          role: system
          text: You are a content formatter specializing in transforming structured
            XML content into reader-friendly Markdown format. Your task is to improve
            readability without altering the original content or language.
        - id: c5328278-2169-4f01-ae1d-4cbc66bb5aa0
          role: user
          text: "Convert the following XML-formatted methodology analysis into a well-structured\
            \ Markdown format:\n\n<xml_content>\n{{#1729477065415.text#}}\n</xml_content>\n\
            \nGuidelines:\n1. Maintain the original language you get even they are\
            \ mixed, mainly should be {{#conversation.language#}}.\n2. Do not change\
            \ any content; your task is purely formatting.\n3. Use Markdown elements\
            \ to improve readability:\n   - Use appropriate heading levels (##, ###,\
            \ ####)\n   - Utilize bullet points or numbered lists where suitable\n\
            \   - Employ bold or italic text for emphasis (but don't overuse)\n  \
            \ - Use blockquotes for significant statements or findings\n4. Ensure\
            \ the hierarchy and structure of the original XML is reflected in the\
            \ Markdown.\n5. Format should be clean, consistent, and easy to read.\n\
            \nExample structure (adapt based on the actual content):\n\n```markdown\n\
            ## Methodology Analysis\n\n### Overview\n[Content here]\n\n### Key Components\n\
            \n#### [Component 1 Name]\n- **Description**: [Content]\n- **Innovation**:\
            \ [Content]\n- **Strengths**: [Content]\n- **Limitations**: [Content]\n\
            \n[Repeat for other components]\n\n### Alignment with Objectives\n[Content\
            \ here]\n\n### Replicability\n[Content here]\n\n### Overall Assessment\n\
            [Content here]\n```\n\nYour goal is to create a Markdown document that\
            \ is significantly more readable than the XML format while preserving\
            \ all original information and structure."
        selected: false
        title: 输出 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1729477594959'
      position:
        x: 2158.1505228891883
        y: 498.5400452044165
      positionAbsolute:
        x: 2158.1505228891883
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729477594959.text#}}


          ---


          '
        desc: 输出 2
        selected: false
        title: 直接回复 方法论
        type: answer
        variables: []
      height: 131
      id: '1729477697238'
      position:
        x: 2462
        y: 498.5400452044165
      positionAbsolute:
        x: 2462
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729477395105.text#}}'
        desc: Output 3
        selected: false
        title: 直接回复 总结
        type: answer
        variables: []
      height: 131
      id: '1729477802113'
      position:
        x: 3067.0629069877896
        y: 332.578582832552
      positionAbsolute:
        x: 3067.0629069877896
        y: 332.578582832552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "<paper_summary>\r\n{{ text }}\r\n</paper_summary>\r\n\r\n<methodology_analysis>\r\
          \n{{ text_1 }}\r\n</methodology_analysis>\r\n\r\n<paper_evaluation>\r\n\
          {{ text_2 }}\r\n</paper_evaluation>"
        title: 汇总精读结果
        type: template-transform
        variables:
        - value_selector:
          - '1729477002992'
          - text
          variable: text
        - value_selector:
          - '1729477065415'
          - text
          variable: text_1
        - value_selector:
          - '1729477130336'
          - text
          variable: text_2
      height: 54
      id: '1729477818154'
      position:
        x: 2758.7322882263315
        y: 600.201112836474
      positionAbsolute:
        x: 2758.7322882263315
        y: 600.201112836474
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - paper_insight
        desc: ''
        input_variable_selector:
        - '1729477818154'
        - output
        selected: false
        title: 存储精读结果
        type: assigner
        write_mode: append
      height: 132
      id: '1729477899844'
      position:
        x: 2758.7322882263315
        y: 750.5494560223087
      positionAbsolute:
        x: 2758.7322882263315
        y: 750.5494560223087
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - chat_stage
        desc: ''
        input_variable_selector:
        - env
        - chat2
        selected: false
        title: 更新对话阶段
        type: assigner
        write_mode: over-write
      height: 132
      id: '1729478152034'
      position:
        x: 3067.0629069877896
        y: 536.2576741489523
      positionAbsolute:
        x: 3067.0629069877896
        y: 536.2576741489523
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 我们使用"最后一条记录"
        filter_by:
          conditions:
          - comparison_operator: contains
            key: ''
            value: ''
          enabled: false
        item_var_type: string
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作
        type: list-operator
        var_type: array[string]
        variable:
        - conversation
        - paper_insight
      height: 122
      id: '1729478231227'
      position:
        x: 638
        y: 763.2457464740642
      positionAbsolute:
        x: 638
        y: 763.2457464740642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-5-sonnet-20240620
          provider: anthropic
        prompt_template:
        - id: 310efb7c-b4b5-412b-820e-578c4c3829b1
          role: system
          text: You are an advanced AI academic assistant designed for in-depth conversations
            about research papers. Your knowledge base consists of a comprehensive
            paper summary, a detailed methodology analysis, and a professional evaluation
            of a specific research paper. Your task is to engage with users, answering
            their questions about the paper, providing insights, and facilitating
            a deeper understanding of the research content.
        - id: 6a46f789-667d-4c1c-a4b3-6a5ca04d8f99
          role: user
          text: '{{#1729478682201.output#}}'
        selected: false
        title: Chat with Paper
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1729478316804'
      position:
        x: 1246
        y: 763.2457464740642
      positionAbsolute:
        x: 1246
        y: 763.2457464740642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729478316804.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1729478492776'
      position:
        x: 1550
        y: 763.2457464740642
      positionAbsolute:
        x: 1550
        y: 763.2457464740642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - chat2_user
        desc: ''
        input_variable_selector:
        - '1729478682201'
        - output
        selected: false
        title: 存储prompt转换后的输出
        type: assigner
        write_mode: over-write
      height: 132
      id: '1729478503210'
      position:
        x: 2120.666666666667
        y: 700.6271267629678
      positionAbsolute:
        x: 2120.666666666667
        y: 700.6271267629678
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - chat2_assistance
        desc: ''
        input_variable_selector:
        - '1729478316804'
        - text
        selected: false
        title: 存储LLM输出
        type: assigner
        write_mode: over-write
      height: 132
      id: '1729478534456'
      position:
        x: 2120.666666666667
        y: 845.1348370744141
      positionAbsolute:
        x: 2120.666666666667
        y: 845.1348370744141
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - chat_stage
        desc: ''
        input_variable_selector:
        - env
        - chatX
        selected: false
        title: 更新对话阶段
        type: assigner
        write_mode: over-write
      height: 132
      id: '1729478551977'
      position:
        x: 2477.7126892328824
        y: 763.2457464740642
      positionAbsolute:
        x: 2477.7126892328824
        y: 763.2457464740642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-5-sonnet-20240620
          provider: anthropic
        prompt_template:
        - id: a0270102-8baa-4ff5-9ed4-66afc0e1133f
          role: system
          text: "<ai_info> The assistant is AI - ChatWithPaper, created by Dify. AI\
            \ - ChatWithPaper's knowledge base about the specific paper under discussion\
            \ is based on the previously provided paper summary, methodology analysis,\
            \ and evaluation. It answers questions about the paper and related academic\
            \ topics the way a highly informed academic in the paper's field would\
            \ if they were talking to someone interested in the research. AI - ChatWithPaper\
            \ can let the human know about its knowledge limitations when relevant.\
            \ If asked about events or developments that may have occurred after the\
            \ paper's publication date, AI - ChatWithPaper informs the human about\
            \ its knowledge cutoff date related to the specific paper. \n\nAI - ChatWithPaper\
            \ cannot open URLs, links, or videos. If it seems like the user is expecting\
            \ AI - ChatWithPaper to do so, it clarifies the situation and asks the\
            \ human to paste the relevant text or image content directly into the\
            \ conversation. AI - ChatWithPaper can analyze images related to the paper\
            \ if they are provided in the conversation.\n\nWhen discussing potentially\
            \ controversial research topics, AI - ChatWithPaper tries to provide careful\
            \ thoughts and clear information based on the paper's content and its\
            \ analysis. It presents the requested information without explicitly labeling\
            \ topics as sensitive, and without claiming to be presenting objective\
            \ facts beyond what is stated in the paper and its analysis.\n\nWhen presented\
            \ with questions about the paper that benefit from systematic thinking,\
            \ AI - ChatWithPaper thinks through it step by step before giving its\
            \ final answer. If AI - ChatWithPaper cannot answer a question about the\
            \ paper due to lack of information, it tells the user this directly without\
            \ apologizing. It avoids starting its responses with phrases like \"I'm\
            \ sorry\" or \"I apologize\".\n\nIf AI - ChatWithPaper is asked about\
            \ very specific details that are not covered in the paper summary, methodology\
            \ analysis, or evaluation, it reminds the user that while it strives for\
            \ accuracy, its knowledge is limited to the information provided about\
            \ this specific paper.\n\nAI - ChatWithPaper is academically curious and\
            \ enjoys engaging in intellectual discussions about the paper and related\
            \ research topics. If the user seems unsatisfied with AI - ChatWithPaper's\
            \ responses, it suggests they can provide feedback to Dify to improve\
            \ the system.\n\nFor questions requiring longer explanations, AI - ChatWithPaper\
            \ offers to break down the response into smaller parts and get feedback\
            \ from the user as it explains each part. AI - ChatWithPaper uses markdown\
            \ for any code examples related to the paper. After providing code examples,\
            \ AI - ChatWithPaper asks if the user would like an explanation or breakdown\
            \ of the code, but only provides this if explicitly requested.\n\n</ai_info>\n\
            \n<ai_image_analysis_info> AI - ChatWithPaper can analyze images related\
            \ to the paper that are shared in the conversation. It describes and discusses\
            \ the image content objectively, focusing on elements relevant to the\
            \ research paper such as graphs, diagrams, experimental setups, or data\
            \ visualizations. If the image contains text, AI - ChatWithPaper can read\
            \ and interpret it in the context of the paper. However, AI - ChatWithPaper\
            \ does not identify specific individuals in images. If human subjects\
            \ are shown in research-related images, AI - ChatWithPaper discusses them\
            \ generally and anonymously, focusing on their relevance to the study\
            \ rather than identifying features. AI - ChatWithPaper always summarizes\
            \ any instructions or captions included in shared images before proceeding\
            \ with analysis. </ai_image_analysis_info>\n\nAI - ChatWithPaper provides\
            \ thorough responses to complex questions about the paper or requests\
            \ for detailed explanations of its aspects. For simpler queries about\
            \ the research, it gives concise answers and offers to elaborate if more\
            \ information would be helpful. It aims to provide the most accurate and\
            \ relevant answer based on the paper's content and analysis.\n\nAI - ChatWithPaper\
            \ is adept at various tasks related to the paper, including in-depth analysis,\
            \ answering specific questions, explaining methodologies, discussing implications,\
            \ and relating the paper to broader academic contexts.\n\nAI - ChatWithPaper\
            \ responds directly to human messages without unnecessary affirmations\
            \ or filler phrases. It focuses on providing valuable academic insights\
            \ and fostering meaningful discussions about the research paper.\n\nAI\
            \ - ChatWithPaper can communicate in multiple languages, always responding\
            \ in the language used or requested by the user. The information above\
            \ is provided to AI - ChatWithPaper by Dify. AI - ChatWithPaper only mentions\
            \ this background information if directly relevant to the user's query\
            \ about the paper. AI - ChatWithPaper is now prepared to engage in an\
            \ academic dialogue about the specific research paper."
        - id: 2de25b7c-b9c3-4122-bcca-09901ce2278e
          role: user
          text: '{{#conversation.chat2_user#}}'
        - id: abb7ce52-32fe-4bb4-9246-0e9271c07742
          role: assistant
          text: '{{#conversation.chat2_assistance#}}'
        selected: false
        title: Chat with Paper
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1729478586386'
      position:
        x: 638
        y: 969.849550696651
      positionAbsolute:
        x: 638
        y: 969.849550696651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 将用户输出转换为prompt
        selected: false
        template: "Engage in a conversation about the research paper based on the\
          \ following inputs and instructions:\r\n\r\n<paper_info>\r\n{{ last_record\
          \ }}\r\n</paper_info>\r\n\r\nInteraction Guidelines:\r\n\r\n1. Carefully\
          \ analyze the user's query:\r\n   <user_query>\r\n   {{ query }}\r\n   </user_query>\r\
          \n\r\n2. Determine the specific aspect of the paper the query relates to\
          \ (e.g., research question, methodology, results, implications).\r\n\r\n\
          \r\n3. Formulate a response based on the information provided in the paper\
          \ summary, methodology analysis, and evaluation.\r\n\r\n\r\n4. If the query\
          \ requires information beyond what's provided, state this limitation clearly.\r\
          \n\r\n\r\n5. Offer additional insights or explanations that might be relevant\
          \ to the user's question, drawing from your understanding of the research\
          \ context.\r\n\r\n\r\nResponse Strategies:\r\n\r\n\r\n1. For questions about\
          \ methodology:\r\n   - Refer to the methodology analysis for detailed explanations.\r\
          \n   - Explain the rationale behind the chosen methods if discussed.\r\n\
          \   - Highlight strengths and limitations of the methodology.\r\n\r\n\r\n\
          2. For questions about results and findings:\r\n   - Provide clear, concise\
          \ summaries of the key findings.\r\n   - Explain the significance of the\
          \ results in the context of the research question.\r\n   - Mention any limitations\
          \ or caveats associated with the findings.\r\n\r\n\r\n3. For questions about\
          \ implications or impact:\r\n   - Discuss both theoretical and practical\
          \ implications of the research.\r\n   - Relate the findings to broader issues\
          \ in the field if applicable.\r\n   - Mention any future research directions\
          \ suggested by the paper.\r\n\r\n\r\n4. For comparative questions:\r\n \
          \  - If the information is available, compare aspects of this paper to other\
          \ known research.\r\n   - If not available, clearly state that such comparison\
          \ would require additional information.\r\n\r\n\r\n5. For technical or specialized\
          \ questions:\r\n   - Provide explanations that balance accuracy with accessibility.\r\
          \n   - Define technical terms when first used.\r\n   - Use analogies or\
          \ examples to clarify complex concepts when appropriate.\r\n\r\n\r\nLanguage\
          \ and Expression:\r\n\r\n\r\n- Use clear, concise academic language.\r\n\
          - Maintain a balance between scholarly rigor and accessibility.\r\n- When\
          \ appropriate, use topic sentences to structure your response clearly.\r\
          \n\r\n\r\nHandling Limitations:\r\n\r\n\r\n- If a question goes beyond the\
          \ scope of the provided information, clearly state this limitation.\r\n\
          - Suggest general directions for finding such information without making\
          \ unfounded claims.\r\n- Be honest about the boundaries of your knowledge\
          \ based on the given paper analysis.\r\n\r\n\r\nOutput Language:\r\nGenerate\
          \ the response in the following language:\r\n<output_language>\r\n{{ language\
          \ }}\r\n</output_language>\r\n\r\n\r\nTranslation Instructions:\r\n- If\
          \ the output language is not English, translate all parts except:\r\n  a)\
          \ Technical terms (provide translations in parentheses upon first use)\r\
          \n  b) Proper nouns (e.g., names of theories, methods, or authors)\r\n-\
          \ Maintain the academic tone and technical accuracy in the translation.\r\
          \n\r\n\r\nFinal Reminders:\r\n1. Strive for accuracy in all your responses.\r\
          \n2. Encourage deeper understanding by suggesting related aspects the user\
          \ might find interesting.\r\n3. If a query is ambiguous, ask for clarification\
          \ before providing a response.\r\n4. Maintain an objective tone, particularly\
          \ when discussing the paper's strengths and limitations.\r\n5. If appropriate,\
          \ suggest areas where further research might be beneficial.\r\n6. Your responses\
          \ should be human reading friendly and the display form and render will\
          \ be markdown\r\n\r\n\r\nYour goal is to facilitate a productive, insightful\
          \ dialogue about the research paper, enhancing the user's understanding\
          \ and encouraging critical thinking about the research."
        title: 格式化输入
        type: template-transform
        variables:
        - value_selector:
          - conversation
          - language
          variable: language
        - value_selector:
          - sys
          - query
          variable: query
        - value_selector:
          - '1729478231227'
          - last_record
          variable: last_record
      height: 82
      id: '1729478682201'
      position:
        x: 942
        y: 763.2457464740642
      positionAbsolute:
        x: 942
        y: 763.2457464740642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1729478586386.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1729478842194'
      position:
        x: 942
        y: 969.849550696651
      positionAbsolute:
        x: 942
        y: 969.849550696651
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-haiku-20240307
          provider: anthropic
        prompt_template:
        - id: 0f16238f-cbf8-409a-942e-305d50c4fc7c
          role: system
          text: "<instructions>\nTo summarize the given paper in 200 words with the\
            \ specified language requirements which is {{#conversation.language#}},\
            \ please follow these steps:\n\n1. Carefully read through the entire paper\
            \ to understand the main ideas, methodology, results, and conclusions.\n\
            \n2. Identify the key points and most important information from each\
            \ major section (introduction, methods, results, discussion).\n\n3. Distill\
            \ the essential elements into a concise summary, aiming for approximately\
            \ 200 words.\n\n4. Ensure the summary covers:\n   - The main research\
            \ question or objective\n   - Brief overview of methodology used\n   -\
            \ Key findings and results\n   - Main conclusions and implications\n\n\
            5. Use clear and concise language, avoiding unnecessary jargon or technical\
            \ terms unless essential.\n\n6. Adhere to the specified language requirements\
            \ provided (e.g. formal/informal tone, technical level, target audience).\n\
            \n7. After writing the summary, check the word count and adjust as needed\
            \ to reach close to 200 words.\n\n8. Review the summary to ensure it accurately\
            \ represents the paper's content without bias or misinterpretation.\n\n\
            9. Proofread for grammar, spelling, and clarity.\n\n10. Format the summary\
            \ as a single paragraph unless otherwise specified.\n\nRemember to tailor\
            \ the language and style to meet any specific requirements given. The\
            \ goal is to provide a clear, accurate, and concise overview of the paper\
            \ that a reader can quickly understand.\n\nDo not include any XML tags\
            \ in your output. Provide only the plain text summary.\n</instructions>\n\
            \n<examples>\nExample 1:\nInput: \nPaper: \"Effects of Climate Change\
            \ on Biodiversity in Tropical Rainforests\"\nLanguage requirement: Technical,\
            \ suitable for environmental scientists\n\nOutput:\nThis study investigates\
            \ the impacts of climate change on biodiversity in tropical rainforests.\
            \ Researchers conducted a meta-analysis of 50 long-term studies across\
            \ South America, Africa, and Southeast Asia. Results indicate a significant\
            \ decline in species richness over the past 30 years, correlating with\
            \ rising temperatures and altered precipitation patterns. Notably, endemic\
            \ species and those with narrow habitat ranges show the highest vulnerability.\
            \ The paper highlights a 15% average reduction in population sizes of\
            \ monitored species, with amphibians and reptiles most affected. Canopy-dwelling"
        - id: ea87c0fd-1d44-4988-9413-117cb33cf0ed
          role: user
          text: '<paper_content>

            {{#1729476853830.output#}}

            </paper_content>'
        selected: false
        title: 简单预览总结
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1729480319469'
      position:
        x: 942
        y: 498.5400452044165
      positionAbsolute:
        x: 942
        y: 498.5400452044165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: await
        selected: false
        template: Made by Dify
        title: Template
        type: template-transform
        variables: []
      height: 82
      id: '1729480535118'
      position:
        x: 1550
        y: 403.34011509017535
      positionAbsolute:
        x: 1550
        y: 403.34011509017535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - paper
        desc: ''
        input_variable_selector:
        - '1729476853830'
        - output
        selected: false
        title: 存储原始论文
        type: assigner
        write_mode: append
      height: 132
      id: '1729480740015'
      position:
        x: 3067.0629069877896
        y: 763.2457464740642
      positionAbsolute:
        x: 3067.0629069877896
        y: 763.2457464740642
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: Dify
        desc: ''
        height: 297
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"目前支持与单篇预先提供的论文进行对话。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"您可以修改\"文件上传设置\"以允许不同类型的文档，并调整此聊天流程以实现与多篇论文的对话。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"在列表操作符块中使用
          Array[string] 类型的会话变量使这一功能成为可能，提供了高度的可控性、编排能力和可观察性。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"这些特性完全符合
          Dify 致力于生产就绪和真实场景适配的目标。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 404
      height: 297
      id: '1729482016825'
      position:
        x: 30
        y: 669.7655405171637
      positionAbsolute:
        x: 30
        y: 669.7655405171637
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 404
    - data:
        author: Dify
        desc: ''
        height: 133
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"对话开场白","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"请上传一篇论文，并选择或输入您的语言以开始：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"英语
          中文 日语 法语 德语","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 344
      height: 133
      id: '1729482108479'
      position:
        x: 30
        y: 119.26427849574927
      positionAbsolute:
        x: 30
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 344
    - data:
        author: Dify
        desc: ''
        height: 134
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提示词由大型语言模型与
          Dify 成员共同生成并完善。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 312
      height: 134
      id: '1729482126876'
      position:
        x: 896.6327597331547
        y: 119.26427849574927
      positionAbsolute:
        x: 896.6327597331547
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 312
    - data:
        author: Dify
        desc: ''
        height: 130
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"文档提取器模块","type":"text","version":1},{"type":"linebreak","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"之后,
          再使用\"模板转换\"确保输出为字符串形式，而非字符串数组。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 384
      height: 130
      id: '1729482180463'
      position:
        x: 454.2072641329995
        y: 119.26427849574927
      positionAbsolute:
        x: 454.2072641329995
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 384
    - data:
        author: Dify
        desc: ''
        height: 202
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"在处理极长文本的场景中，使用
          ","type":"text","version":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"XML","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"link","version":1,"rel":"noreferrer","target":null,"title":null,"url":"https://docs.anthropic.com/en/docs/build-with-claude/prompt-engineering/use-xml-tags"},{"detail":0,"format":0,"mode":"normal","style":"","text":"
          格式可以提高大语言模型对提示的结构化理解。然而，这对人类读者并不友好。因此，我们并行使用 Dify：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          一个高性能大模型完成主要工作","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"-
          在下一个模型工作的同时，另一个较小的模型同步快速将其翻译成人类可读的 Markdown 格式，使用标题、项目符号、代码块等进行展示。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 327
      height: 202
      id: '1729482265477'
      position:
        x: 1515.0001240585023
        y: 119.26427849574927
      positionAbsolute:
        x: 1515.0001240585023
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 327
    - data:
        author: Dify
        desc: ''
        height: 161
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"学术快照：论文精要概览","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"我们在这里使用两个变量：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"paper_content（论文内容）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"output_language（输出语言）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 161
      id: '1729482347415'
      position:
        x: 1246
        y: 119.26427849574927
      positionAbsolute:
        x: 1246
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: Dify
        desc: ''
        height: 169
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"方法透视：研究路径剖析","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"我们在这里使用三个变量：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"paper_content（论文内容）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"paper_summary（论文摘要）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"output_language（输出语言）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 169
      id: '1729482575649'
      position:
        x: 1854
        y: 119.26427849574927
      positionAbsolute:
        x: 1854
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: Dify
        desc: ''
        height: 166
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"await
          属性的节点","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"我们使用并行处理以获得更好的体验，但我们也希望输出保持稳定有序。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 166
      id: '1729482623889'
      position:
        x: 2158.1505228891883
        y: 119.26427849574927
      positionAbsolute:
        x: 2158.1505228891883
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: Dify
        desc: ''
        height: 184
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"学术棱镜：多维论文评估","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"我们在这里使用三个变量：","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"paper_summary（论文摘要）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"methodology_analysis（方法论分析）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"output_language（输出语言）","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 184
      id: '1729482643705'
      position:
        x: 2462
        y: 119.26427849574927
      positionAbsolute:
        x: 2462
        y: 119.26427849574927
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: Dify
        desc: ''
        height: 106
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"与论文持续对话","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":2,"mode":"normal","style":"","text":"(chatX)","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":2}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 250
      height: 106
      id: '1729484495518'
      position:
        x: 1240.8555255974002
        y: 981.8043081216967
      positionAbsolute:
        x: 1240.8555255974002
        y: 981.8043081216967
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 250
    - data:
        author: Dify
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"存储变量以便未来使用","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1729484554116'
      position:
        x: 2477.7126892328824
        y: 905.3598668563084
      positionAbsolute:
        x: 2477.7126892328824
        y: 905.3598668563084
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 99.15756267460156
      y: -3.742135743010408
      zoom: 0.6127934442761908
